[submodule "cairo_contracts"]
	url = https://github.com/OpenZeppelin/cairo-contracts
	path = lib/cairo_contracts
	branch = refs/heads/v0.2.1
[submodule "stark_attestations"]
	url = https://github.com/maxgillett/stark-attestations
	path = lib/stark_attestations
